
:root {
  --gray-0: #000;
  --gray-2: #202124;
  --gray-3: #303134;
  --gray-4: #5f6368;
  --gray-5: #e8eaed;
  --gray-7: #fff;
  --gap-0: .75rem;
  --gap-1: 1.25rem;
  --gap-2: 2.5rem;
  --radius: 4px;
  --font-1: 2rem;
  --font-2: 1.5rem;
  --font-3: 1.125rem;
  --font-4: 1rem;
}

body{
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--gray-2);
  color: var(--gray-5);
}

*{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

button{
  background-color: var(--gray-3);
  border: 1px solid var(--gray-3);
  border-radius: 4px;
  color: var(--gray-5);
  font-family: arial,sans-serif;
  font-size: 14px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
}

button:hover{
  border: 1px solid var(--gray-4);
}
